@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*--------------------------Nav Style------------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #000;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  top: -10px;
  left: 40%;
	margin-left: 5%;
}
.wrapper .nav-links{
  display: inline-flex;
  width: 100%;
  transition: .3s;
}
.wrapper .nav-links li:nth-child(6){
  margin-left: 200px;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  color: #cfc9a3;
  text-decoration: none;
  font-size: 15.5px;
  font-weight: bolder;
  padding: 8px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #3A3B3C;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  background: #000;
}
.mega-box p{
  color: #cfc9a3;
  text-align: center;
  padding: 0;
  margin: 0;
  shape-margin: 0;
}
.mega-box .content{
  background: #000;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #cfc9a3;
  font-size: 20px;
  font-weight: bolder;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #cfc9a3;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}
@media screen and (max-width: 970px) {
  label{
        font-family: 'Shadows Into Light', cursive;
        font-weight: bold;
        color: #cfc9a3;
  }
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega1:checked ~ .mega-box{
    max-height: 100%;
  }
  #showMega2:checked ~ .mega-box{
    max-height: 100%;
  }
  #showMega3:checked ~ .mega-box{
    max-height: 100%;
  }
  #showMega4:checked ~ .mega-box{
    max-height: 100%;
  }
  #showMega5:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}
.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
/*-----------------Objective------------------*/
.about1{
  background-image: url(back3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.row1{
  display: flex;
  justify-content: space-between;
}
.col1{
  flex: 50%;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 3%;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 1;
}
.about1 h2{
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;
  color: #cfc9a3;
}
.col1 p{
  margin-top: 5%;
  font-size: 20px;
  font-family: 'Benne', serif;
  color: #cfc9a3;
}
.col1 img{
  margin-top: -15%;
  margin-right: 80%;
  width: 600px;
}

@media only screen and (max-width: 1000px) {
  .row1{
    flex-direction: column;
    background-image: url(back3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .col1 img{
    width: 100%;
  }
}

/*------------------------------Upcoming Events-----------------------*/
.back{
  background-image: url(back2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.back h2{
  text-align: center;
  color: #000;
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
}
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background-image: url(back2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.carousel-cell {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
/*--------------------The Six Pillars------------------------*/
.upcoming_events{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  position: relative;
  background-image: url(back3.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.upcoming_events h1{
  font-size: 60px;
  font-family: 'Shadows Into Light', cursive;
  color: #cfc9a3;
}
.row4{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
}
.col4{
  margin-left: 65px;
  margin-right: 50px;
  flex: 33.33%;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
}
.design{
  margin-left: 50px;
  background-image: url(back2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  width: 370px;
  height: 650px;
}
.design h3{
  color: #000;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  text-align: left;
  margin-left: 30px;
}
.design p{
  color: #000;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  text-align: left;
  margin-left: 30px;
}
@media only screen and (max-width: 1000px) {
.row4{
    flex-direction: column;
  }
}
/*----------------------------------About Tyohar-----------------------*/
.aim{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
  background-image: url(back2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.aim h1{
  color: #000;
  font-size: 40px;
  font-weight: 300;
  line-height: 20px;
  font-family: 'Shadows Into Light', cursive;
  padding: 5px;
}
.row{
margin-top: 5%;
display: flex;
justify-content: space-between;
}
.column{
  flex: 50%;
}
.column p{
  font-size: 20px;
  font-family: 'Benne', serif;
  text-align: left;
  color: #000;
}
@media only screen and (max-width: 1000px) {
  .row{
    flex-direction: column;
  }
}
/*------------------NewsLetter------------------------*/
.newsletter{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  background-image: url(back2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.newsletter h2{
  font-size: 40px;
  color: #000;
  font-family: 'Shadows Into Light', cursive;
}
#text{
  width: 300px;
  height: 30px;
  border: 3px solid #dbd4a7;
  color: #000;
}
#email{
  width: 300px;
  height: 30px;
  border: 3px solid #dbd4a7;
  color: #000;
}
::-webkit-input-placeholder{
  margin-right: 10px;
  font-size: 15px;
  color: #a39190;
}
@media only screen and (max-width: 1000px) {
  #text{
    margin-left: 3%;
    width: 300px;
    height: 30px;
    border: 3px solid #dbd4a7;
    color: #000;
  }
  #email{
    margin-top: 3%;
    width: 300px;
    height: 30px;
    border: 3px solid #dbd4a7;
    color: #000;
  }
}
/*----------------------Footer--------------------*/
.footer{
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 70px;
  background-image: url(back8.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer h4{
  color: #403c3c;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Shadows Into Light', cursive;
}
.row5{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
}
.col4{
  margin-right: 5px;
  margin-left: 5px;
  flex: 25%;
  background: transparent;
}
.footer h4{
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
  color: #cfc9a3;
  font-weight: bold;
}
.footer ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  text-align: left;
}
.footer ul li a{
  text-align: left;
  color: #cfc9a3;
  text-decoration: none;
  font-size: 15px;
}
.footer ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #4a462c;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.footer ul li:hover::after{
  width: 100%;
}
#button{
  background-image: url(but6.png);
  background-position: center;
  background-size: cover;
  position: relative;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 50%;
  width: 30%;
  height: 50%;
  color: #4f3d15;
}
@media only screen and (max-width: 1000px) {
  .footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    background-image: url(back8.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .row5{
    flex-wrap: wrap;
  }
  .footer ul li{
    list-style: none;
    display: inline-block;
    padding: 3px 5px;
    position: relative;
    text-align: left;
  }
  .footer ul li a{
    color: #cfc9a3;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
  }
  #button{
    background-image: url(but6.png);
    background-position: center;
    background-size: cover;
    position: relative;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 50%;
    width: 60%;
    height: 50%;
    color: #4f3d15;
  }
  a img{
    width: 100%;
  }
}
